
body {
    background-color: #f8f8f8;
}

div#container {
    width: 800px;
    margin: 20px auto 20px auto;
}

div.content {
    margin: 0px;
}

div#header {
    padding: 5px;
    text-align: right;
    font-weight: bold;
    color: #777;
}

div#messages {
    
}

div#tree {
    
}

div#footer {
    padding: 2px;
    font-size: 10px;
    color: #777;
}

.row {
    margin: 0 0 0 5px;
    font-size: .8em;
}

.row-comment {
    /*background-color: #f8f8f8;*/
    color: #339933;
}

.row-valid {
    /*background-color: #333399;*/
}

.row-invalid {
    color: #993333;
    font-weight: bold;
}
