
/*
 * GLOBAL
 */

body {
    background-color: #f8f8f8;
}

/*
 * check-tree-tristate
 */
.styledCheckbox {
    height: 13px;
    width: 13px;
    filter: alpha(opacity=0.0);
    opacity: 0.0;
    outline: 0;
}

.styledCheckboxWrap {
    position: relative;
    background: url('checkboxes.gif') no-repeat top left;
    width: 13px;
    height: 13px;
    margin: 3px;
}

.ext-webkit .styledCheckboxWrap {
    padding-bottom:1px;
}
.wrapChecked{ background-position: 0px -13px; }

.wrapPartial{ background-position: 0px -26px; }
